

.loading{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.loading div{
    border: 5px solid #0fac29;
    border-top-color: transparent;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    animation: loading 1s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}