

@media (max-width: 400px){
    .newsletter {
        flex-direction: column !important;
        gap: 8px;
    }

    .newsletter-input, .newsletter-btn{
        width: 100% !important;
        margin-right: 0px !important;
    }

    .newsletter-btn{
        border-radius:  0px !important;
    }
}